@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

html, body, #root {
	height: 100%;
}
body {
	margin: 0;
	font-family: system-ui, sans-serif;
	background: #fff;
}